
* {
    margin: 0;
    padding: 0;
}

.available-licenses {
    border: 1px solid black;
    float: right;
    margin: 30px;
    padding: 10px;
}

.container2 {
    height: 100vh;
    position: relative;
}

.container2:before {
    content: "";
    position: absolute;
    background-image: url("https://www.salientsys.com/assets/uploads/images/hero.png");
    opacity: 0.5;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
}

.dropdown-tests {
    margin-bottom: 15px;
    width: 150px;
}

.license-count {
    float: right;
}

body {
    font-family: Arial;
}

center {
    clear: right;
}

h4 {
    margin-bottom: 5px;
}

select {
    margin-right: 10px;
}

table th {
    background-color: #E74D3D;
    color: aliceblue;
}

tbody tr:nth-child(even) {
    background-color: #F2F2F2;
}

td {
    padding: 3px;
    padding-left: 15px;
}

th {
    padding: 3px;
    padding-left: 15px;
}
